/* src/App.css */
.App {
  text-align: center;
  margin-top: 50px;
}

.input-group .form-control {
  margin-right: 10px;
}

.btn-group .btn {
  margin-left: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}
